<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Healthcare Suggestion System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container my-4 mt-4">

     <h3> About Us</h3>

<p>Welcome to our AI-driven Healthcare Suggestion System, where we blend cutting-edge technology with healthcare to create a healthier tomorrow.</p>

<h3>Our Vision</h3>

<p>We aim to make healthcare accessible and personalized for everyone. By harnessing the power of AI and Machine Learning, we strive to empower individuals to make informed decisions about their health.</p>

<h3>Who We Are</h3>

<p>We are a passionate team of students from KL University: Pawan Achyutanand, Shankri Rahul, and K Sannhith Reddy. Our backgrounds in AI and healthcare, combined with our shared vision, have led us to develop this platform to help users access personalized healthcare suggestions easily.</p>

<h3>Our Mission</h3>

<p>Our mission is to develop a seamless platform that leverages AI to assist users in identifying potential health concerns based on their symptoms. The system also offers educational resources to promote health literacy and well-being.</p>

<h3>How We Do It</h3>

<p>Our system utilizes a robust machine learning model trained on extensive datasets of symptoms and diseases. When users input their symptoms, our system generates accurate predictions of possible conditions, helping them make better healthcare decisions.</p>

<h3>Your Well-being, Our Priority</h3>

<p>Your health and well-being are at the heart of our project. In addition to providing accurate health predictions, we offer detailed information about each potential condition, including precautions, medications, dietary advice, and workout tips to help you maintain and improve your health.</p>

<h3>Join Us on this Journey</h3>

<p>We invite you to explore our platform, engage with our educational resources, and take charge of your health journey. Together, we can revolutionize the way people access and understand healthcare.</p>

<p>Thank you for choosing our Healthcare Suggestion System. We are committed to empowering you with the knowledge and support you need for a healthier future.</p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
