<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AI & ML Healthcare Suggestion Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6>About Project: AI & ML-based Healthcare Suggestion System</h6>
<h5>Meet the Team</h5>

<p>We are a dedicated team of AI and Machine Learning enthusiasts from KL University, working on developing a healthcare suggestion system aimed at improving healthcare accessibility and providing personalized healthcare recommendations.</p>

<h5>Team Members</h5>
<ul>
  <li>Pawan Achyutanand</li>
  <li>Shankri Rahul</li>
  <li>K Sannhith Reddy</li>
</ul>

<h5>Project Overview</h5>
<p>This project focuses on leveraging AI and Machine Learning to create a system that suggests healthcare options based on user inputs, medical history, and preferences. Our goal is to make healthcare more accessible and personalized through intelligent systems.</p>

<h5>Our Expertise</h5>
<p>Each member of our team brings a wealth of experience in AI and ML, and together, we are committed to pushing the boundaries of healthcare technology. We aim to develop predictive models and intelligent algorithms that enhance user experiences and deliver meaningful healthcare suggestions.</p>

<h5>Passion for Healthcare Innovation</h5>
<p>Healthcare is a field that stands to benefit immensely from AI and ML. Our project is a testament to our passion for improving healthcare delivery by making it more personalized and data-driven.</p>

<h5>Join Us on This Journey</h5>
<p>We invite you to explore our healthcare suggestion system and witness the fusion of technology and healthcare. Our system is designed to empower individuals with knowledge and promote better health outcomes.</p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>
